body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1FAEE; /* Cor mais clara da paleta */
    color: #1D3557; /* Cor mais escura da paleta */
}

header {
    background-color: #457B9D; /* Azul claro da paleta */
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #A8DADC; /* Azul suave da paleta */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #1D3557; /* Cor escura da paleta */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 40px; /* Maior espaçamento entre projetos */
}

.project h3 {
    color: #457B9D; /* Azul claro da paleta */
}

.project p {
    color: #1D3557; /* Cor escura da paleta */
}

.project a {
    color: #E63946; /* Cor de destaque da paleta */
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    background-color: #457B9D; /* Azul claro da paleta */
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative; /* Ajustado para fixar no final da página */
    bottom: 0;
    width: 100%;
    margin-top: 40px; /* Adiciona espaçamento antes do footer */
}

